* {
    font-family: 'Oswald', sans-serif;
}

.sidebar, .sidebar-lib, .sidebar-playlist{
    position: absolute;
    left: 0px;
    top: 0px;
    height:135px;
    width:165px;
    background-color:rgb(31, 28, 28);
    z-index:1;
    overflow:hidden;
}

.sidebar-lib {
    top: 135px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.sidebar-playlist {
    top: 435px;
}

.bar-item, .bar-tittle, .bar-playlist {
    margin-top: 0%;
    font-weight: bolder;
    padding: 8px 16px;
    border:none;
    display:block;
    width:100%;
    text-align:left;
    white-space:normal;
    float:none;
    outline:0;
    cursor:default;
}

.bar-tittle {
    font-weight:lighter;
    font-size: 15px;
    color:  rgba(255, 255, 255, 0.719);
}

.bar-library, .playlist-name {
    font-weight:bold;
    font-size: 14px;
    padding: 8px 16px;
    margin: 0%;
    border:none;
    display:block;
    width:100%;
    text-align:left;
    white-space:normal;
    float:none;
    outline:0;
    cursor:default;
}

.btn, .btn-library {
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align: middle;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.582);
    background-color:inherit;
    text-align:left;
    white-space:nowrap;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}

.btn:hover {
    color: white;
}

.playlist-name {
    font-weight: 600;
}

.bar-playlist {
    padding: 50px 30px;
    
}

h4 {
    margin-bottom: 0;
}

.library-scrollbar::-webkit-scrollbar {
    background-color: rgb(49, 44, 44);
}

.library-scrollbar::-webkit-scrollbar-thumb {
    background: gray;
}

.popup{
    width:500px;
    height:350px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-175px;
    margin-left:-250px;
    background-color: rgb(31, 28, 28);
    border-radius: 10px;
    display: none;
}

.closePopUp {
    position: absolute;
    top: 8px;
    left: 460px;
    background-color:rgb(31, 28, 28);
    color: rgba(255, 255, 255, 0.719);
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bolder;
}

.closePopUp:hover {
    color: white;
}

.playlist-input-name, .playlist-input-description{
    margin: 10px 50px;
    width: 400px;
    height: 30px;
    display: block;
    outline: 0;
    font-family: monospace;
}
.playlist-input-description {
    height: 100px;
} 

.playlist-tittle {
    margin: 10px 50px;
    text-align: center;
    color: rgba(255, 255, 255, 0.719);
}

.playlist-create-button {
    border-radius: 30px;
    font-weight: bolder;
    position: absolute;
    width: 120px;
    height: 40px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    color: white;
    background-color: rgb(60, 165, 60);
    letter-spacing: .2rem;
    outline: none;
    border: none;
}

.playlist-create-button:hover {
    background-color: rgb(71, 187, 71)
}

.playlist-create-button:active {
    position: relative;
    top: 2px;
    background-color: #2b4f2b
}

textarea {
    resize: none;
}

.errorText {
    position: absolute;
    padding-top: 3px;
    font-size: 18px;
    color: red;
    left: 100px;
    margin: 0px
}