* {
    font-family: 'Oswald', sans-serif;
}

.sidebar, .sidebar-lib, .sidebar-playlist{
    position: absolute;
    left: 0px;
    top: 0px;
    height:135px;
    width:165px;
    background-color:rgb(31, 28, 28);
    z-index:1;
    overflow:hidden;
}

.sidebar-lib {
    top: 135px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.sidebar-playlist {
    top: 435px;
}

.bar-item, .bar-tittle, .bar-playlist {
    margin-top: 0%;
    font-weight: bolder;
    padding: 8px 16px;
    border:none;
    display:block;
    width:100%;
    text-align:left;
    white-space:normal;
    float:none;
    outline:0;
    cursor:default;
}

.bar-tittle {
    font-weight:lighter;
    font-size: 15px;
    color:  rgba(255, 255, 255, 0.719);
}

.bar-library, .playlist-name {
    font-weight:bold;
    font-size: 14px;
    padding: 8px 16px;
    margin: 0%;
    border:none;
    display:block;
    width:100%;
    text-align:left;
    white-space:normal;
    float:none;
    outline:0;
    cursor:default;
}

.btn, .btn-library {
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align: middle;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.582);
    background-color:inherit;
    text-align:left;
    white-space:nowrap;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}

.btn:hover {
    color: white;
}

.playlist-name {
    font-weight: 600;
}

.bar-playlist {
    padding: 50px 30px;
    
}

h4 {
    margin-bottom: 0;
}

.library-scrollbar::-webkit-scrollbar {
    background-color: rgb(49, 44, 44);
}

.library-scrollbar::-webkit-scrollbar-thumb {
    background: gray;
}
