.header {
    display:flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.header_left {
    flex: 0.5;
    min-width: 70px;
    background-color: white;
    color: grey;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px;
}

.header_left > input {
    width: 100%;
    border: none;
}

.header_left > input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.header_right {
    display: flex;
    align-items: center;
    margin-left: 10px
}

.header_right > h4 {
    margin-left: 10px
}
